<header class="post-meta">

    <h1 class="card-title mb-4">{{ title }}</h1>

    <div class="container-fluid px-0">
        <div class="row no-gutters">

            <div class="col-12 col-md-auto mr-4">
                <h5 class="text-medium">
                    <i class="fa fa-calendar fa-fw mr-1 text-primary" aria-hidden="true"></i>
                    <time datetime="{{ post.date | date('') }}">{{ post.date | date('MMMM DD, YYYY') }}</time>
                </h5>
            </div>

            {% if tags.length %}
            <div class="col-12 col-md-auto">
                <h5 class="text-medium">
                    <i class="fa fa-tags fa-fw mr-1 text-primary" aria-hidden="true"></i>
                    {% for i in tags | list %}{{ i }}{% if not loop.last %}, {% endif %}{% endfor %}
                </h5>
            </div>
            {% endif %}

        </div>

    </div>

</header>
