<footer class="site-footer bg-dark text-light py-3">
    <nav class="navbar navbar-expand">
        <div class="container d-flex flex-row flex-sm-column flex-md-row">

            {% set menu = menus.footer %}
            <ul class="nav d-none d-sm-flex mb-sm-2 mb-md-0">
                {% include "components/nav-links.njk" %}
            </ul>

            <small class="navbar-text text-muted font-italic px-sm-3">Copyright &copy; <a class="text-light" href="{{ site.url }}">{{ site.title }}</a> {{ site.copyright }}.</small>

            <a href="#top" title="Back to Top" class="btn btn-sm btn-medium d-sm-none">
                <i class="fas fa-arrow-up" aria-hidden="true"></i>
                <span class="sr-only">Back to Top</span>
            </a>

        </div>
    </nav>
</footer>
